*/
/*
*.log

lazygit/state.yml

!.gitignore

!bat/**
!btop/**
!cava/**
!foot/**
!kitty
!kitty/**
!lazygit
!lazygit/**
!mpv
!mpv/**
!niri/**
!gtk-3.0
!gtk-3.0/**
!swaync
!swaync/**
!yazi
!yazi/**
!ly
!ly/**
!way-edges
!way-edges/**
!fcitx5
!fcitx5/**
!spicetify
!spicetify/config-xpui.ini
!niri
!niri/**
!clipse
!clipse/**
!wallpaper
!wallpaper/**
!nwg-drawer
!nwg-drawer/**
!fastfetch
!fastfetch/**
!ags
!ags/**
!tray-tui
!tray-tui/**

!starship.toml
!code-flags.conf
!.bashrc
!.bash_profile
!.gitconfig
!.gitattributes
!ssh-config
!spotify-launcher.conf
!ly-config.ini
!.inputrc
