*/
/*
*.log

lazygit/state.yml

!.gitignore

!ags/**
!alacritty/**
!bat/**
!btop/**
!cava/**
!foot/**
!kitty/**
!lazygit/**
!mpv/**
!neofetch/**
!swappy/**
!swaylock/**
!wlogout/**
!niri/**
!waybar/**
!fastfetch/**
!gBar/**
!dunst/**
!pistol/**
!gtklock/**
!gtk-3.0/**
!mako
!mako/**
!swaync
!swaync/**

!init.zsh
!starship.toml
!code-flags.conf
nvim
btop
