*/
/*
*.log

lazygit/state.yml

!.gitignore

!bat/**
!btop/**
!cava/**
!foot/**
!kitty/**
!lazygit/**
!mpv/**
!niri/**
!gtk-3.0
!gtk-3.0/**
!swaync
!swaync/**
!yazi
!yazi/**
!ly
!ly/**
!way-edges
!way-edges/**
!fcitx5
!fcitx5/**
!spicetify
!spicetify/config-xpui.ini
!niri
!niri/**
!clipse
!clipse/**

!starship.toml
!code-flags.conf
!.bashrc
!.gitconfig
!ssh-config
