// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};

$fg-color: #b5dbe3;
$bg-color: #252f3c;
$border-color: #8dc1ec;
$fg-color-dark: #759ca0;
$bg-color-dark: #192029;

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

.monospace {
  font-family: monospace;
}

.common-box {
  background: linear-gradient(to right, $bg-color, $bg-color-dark);
  border-radius: 5px;
  border: 2px solid $border-color;
}

.info-box {
  padding: 10px;

  .info-box-label {
    color: $fg-color-dark;
  }

  .info-box-value {
    color: $fg-color;
    font-weight: bold;
    font-size: large;
  }
}

.usage-blocks {
  padding: 4px;

  .usage-block {
    font-size: x-large;
    background-image: radial-gradient(
      circle closest-side,
      $fg-color 50%,
      transparent 50%
    );
    background-size: 3px 3px; /* 点与点之间的距离，可调小到 4px 或更少 */
  }

  .fill {
    background: $fg-color;
  }
}

.usage-num {
  color: $fg-color;
  font-weight: bold;
  padding: 4px;
}

.fill-block {
  background: $fg-color;
}

.block-box {
  padding: 20px;
}

.power-menu {
  background: rgba(0, 0, 0, 0.5);

  .power-menu-item {
    color: $fg-color;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;

    &:hover {
      background: $border-color;
    }
  }
}
