// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};

$fg-color: #b5dbe3;
$bg-color: #252f3c;
$border-color: #8dc1ec;
$fg-color-dark: #759ca0;
$bg-color-dark: #192029;

* {
  background: none;
}

.monospace {
  font-family: monospace;
}

.common-box {
  background: linear-gradient(to right, $bg-color, $bg-color-dark);
  border-radius: 5px;
  border: 2px solid $border-color;
}

.info-box {
  padding: 10px;

  .info-box-label {
    color: $fg-color-dark;
  }

  .info-box-value {
    color: $fg-color;
    font-weight: bold;
    font-size: large;
  }
}

.usage-blocks {
  padding: 4px;

  .usage-block {
    font-size: x-large;
    background-image: radial-gradient(
      circle closest-side,
      $fg-color 50%,
      transparent 50%
    );
    background-size: 3px 3px; /* 点与点之间的距离，可调小到 4px 或更少 */
  }

  .fill {
    background: $fg-color;
  }
}

.usage-num {
  color: $fg-color;
  font-weight: bold;
  padding: 4px;
}

.fill-block {
  background: $fg-color;
}

.block-box {
  padding: 20px;
}

.power-menu {
  background: rgba(0, 0, 0, 0.5);

  button {
    transition: all ease-out(300ms);
    background: radial-gradient(ellipse at bottom, #4d9f0c, transparent);

    font-size: xx-large;
    font-weight: bold;
    font-family: Symbols Nerd Font;
  }

  .selected {
    background: radial-gradient(ellipse at top, #e66465, transparent);
  }
}

.toggle-power-menu {
  button {
    background: radial-gradient(
      circle at 50%,
      transparent,
      transparent 30%,
      $fg-color 40%,
      transparent 65%
    );

    &:hover {
      background: radial-gradient(
        circle at 50%,
        $fg_color,
        transparent 50%,
        transparent 100%
      );
    }
  }
}

.time {
  .time-hm {
    font-family: monospace;
    font-size: xx-large;
    font-weight: bold;
    color: $fg-color;
  }
  .time-date {
    font-size: large;
    color: $fg-color-dark;
  }
}
