# yazi.toml
[mgr]
show_hidden = true
linemode = "mtime"
show_symlink = true
ratio = [1, 3, 5]

[opener]
edit = [{ run = 'nvim "$@"', block = true }]
edit_gui = [{ run = 'neovide "$@"', block = false, orphan = true }]
edit_editor = [{ run = '$EDITOR "$@"', block = false, orphan = true }]

gif = [{ run = 'imv-rs "$@"', block = false }]
image = [
  { run = 'imv "$@"', desc = "Open" },
  { run = 'pinta "$@"', block = false, desc = "Edit" },
  { run = '''exiftool "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show EXIF" },
]


[open]
prepend_rules = [
  { mime = "text/*", use = [
    "edit",
    "edit_gui",
    "reveal",
    "edit_editor",
  ] },
  { mime = "inode/x-empty", use = [
    "edit",
    "edit_gui",
    "reveal",
  ] },
  { name = "*/", use = [
    "edit",
    "edit_gui",
    "open",
    "reveal",
    "edit_editor",
  ] },
  { mime = "application/json", use = [
    "edit",
    "edit_gui",
    "reveal",
  ] },
  { mime = "*/javascript", use = [
    "edit",
    "edit_gui",
    "reveal",
  ] },

  { name = "*.gif", use = "gif" },
  { mime = "image/*", use = "image" },
]
