include "action.kdl"
include "debug.kdl"
include "env.kdl"
include "input.kdl"
include "look.kdl"
include "miscellaneous.kdl"
include "output.kdl"
include "rules.kdl"

include "animations.kdl"

// include "noctalia.kdl"
