overview {
    backdrop-color "#0E0825"
}

layout {

  always-center-single-column
  // center-focused-column "always"
  // empty-workspace-above-first

  background-color "transparent"

  /-blur {
    // on
    radius 1
    // noise 100
  }

    focus-ring {
        off
        width 3
        // width 8
        // catppuccin-mocha Sapphire
        // active-color "#4E884F"
        // active-color "orange"
        // catppuccin-mocha Surface2
        // inactive-color "#585b70"
        // inactive-color "green"

        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // active-gradient from="#f38ba8" to="#f9e2af" angle=45 relative-to="workspace-view"
        // active-gradient from="red" to="orange" angle=45 relative-to="workspace-view" in="oklch longer hue"
    }

    shadow {
        on
        softness 20
        spread 5
        offset x=5 y=5
        draw-behind-window false
        color "#000000aa"
    }

    // focus-ring {
    //     width 2
    //     active-gradient from="#ffd75f" to="#ffafd7"
    // }

    border {
        off
        width 2
        // width 4
        // width 32
        // width 128

        // active-color "#f38ba8"
        // inactive-color "#585b70"

        // active-color "#000"
        // inactive-color "#000"

        // active-gradient from="#f38ba8" to="#f9e2af" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#f38ba8" to="#f9e2af" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#f38ba8aa" to="#f9e2afaa" angle=45 relative-to="workspace-view"

        active-gradient from="red" to="orange" angle=45 relative-to="workspace-view" in="oklch longer hue"
        inactive-gradient from="#585b70" to="#7f849c" angle=45 relative-to="workspace-view"

        // inactive-gradient from="green" to="lightblue" angle=45 relative-to="workspace-view"
        // active-gradient from="#ff0000ff" to="#00ff0011" angle=90 in="srgb-linear"
        // active-gradient from="#ff0000ff" to="transparent" angle=90 in="srgb"
        // active-gradient from="red" to="orange" angle=45 in="oklch longer hue"

        // active-gradient from="yellow" to="red" angle=45 in="oklab" relative-to="workspace-view"
        // inactive-gradient from="yellow" to="red" angle=45
    }

    insert-hint {
        // off
        color "#ffc87f80"
        gradient from="#f38ba880" to="#f9e2af80" angle=45 relative-to="workspace-view"
        // gradient from="#ff000080" to="#ffa50080" angle=45 relative-to="workspace-view" in="oklch longer hue"
    }

    preset-column-widths {
        // proportion 0.3333333333333333
        proportion 0.5
        // proportion 0.66667
        // proportion 0.25
        // fixed 1000
    }

    /-preset-window-heights {
        proportion 0.3333333333333333
        proportion 0.5
        proportion 0.66667
        // fixed 200
        // fixed 300
    }

    // default-column-width { proportion 0.3333333333333333; }
    default-column-width { proportion 0.5; }

    // gaps 0
    // gaps 8
    gaps 16

    struts {
        left 3
        right 3
        // right 64
        top 8
        // bottom 16
        // top 44
        // bottom 64
        // top 64
    }

    // empty-workspace-above-first

    // center-focused-column "on-overflow"
    // center-focused-column "always"

    // always-center-single-column
}

cursor {
    // xcursor-theme "miku-cursor-linux"
    xcursor-size 64
    // xcursor-theme "breeze_cursors"
    // xcursor-theme "arstieonart"
    // xcursor-size 48
    hide-when-typing
    hide-after-inactive-ms 1000
}

