layout {

    focus-ring {
        active-color   "#899bea"
        inactive-color "#191b24"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#899bea"
        inactive-color "#191b24"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#191b2470"
    }

    tab-indicator {
        active-color   "#899bea"
        inactive-color "#0f2db2"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#899bea80"
    }
}

recent-windows {
    highlight {
        active-color "#899bea"
        urgent-color "#fd4663"
    }
}
