window {
  /* background-color: rgba(36, 47, 79, 0.95); */
  background-color: rgba(0, 0, 0, 0.8);
  color: #eeeeee;
}

/* search entry */
entry {
  border-color: #0c986c;
  color: white;
  font-size: x-large;
  padding: 20px;
}

button,
image {
  background: none;
  border: none;
}

button {
  transition: all 0.1s ease-out;
  margin: 0 5px 0 5px;
  font-size: large;
  padding: 10px 20px;
}

button:hover {
  box-shadow: inset 0px 0px 0px 4px #0c986c;
}

/* in case you wanted to give category buttons a different look */
#category-button {
  margin: 0 10px 0 10px;
}

#pinned-box {
  padding-bottom: 20px;
  border-bottom: 5px dotted white;
  margin-bottom: 5px;
}

#files-box {
  padding: 5px;
  border: 1px dotted gray;
  border-radius: 15px;
}

/* math operation result label */
#math-label {
  font-weight: bold;
  font-size: 16px;
}
